/* .navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.navbar-nav .nav-link:hover {
  color: red;
} */

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
}

.navbar-light .navbar-brand {
  font-size: 30px;
}

body .bg-dark {
  background-color: #31363f !important;
}
